
* {
    list-style: none;
    color: black;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Inter', sans-serif;
  }
  
  .menu {
  
    width: 1200px;
    background: #ffffff;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }
  
  .menu-flex {
    display: flex;
    align-items: center;
    ;
  }
  
  .menu-column {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-start;
  }
  
  .menu-column.menu-second-column {
    justify-content: flex-end;
  }
  
  .menu-nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
  
  }
  
  .menu-nav ul li a {
    text-decoration: none;
    color: #585e65;
  }
  
  .menu-link-button {
    text-decoration: none;
    height: 48px;
    background-color: #4c6ef5;
    color: #fff;
    padding: 0 32px;
    display: flex;
    align-items: center;
    border-radius: 4px;
  }
  
  .boxMain {
    width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: flex-end;
    justify-content: space-between;
  }
  
  .boxIten {
    width: 24%;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 28px;
    overflow: hidden;;
  }
  
  .button{
    width: 335px;
    height:48px;
    
  
  }
  img{
    width:230px;
    height:200px;
  
  }